.navbar {
   border-radius: 0 !important;
}

.header-ub {
    padding-top: 15%;
   text-align: center;
   font-size: 5rem;
   color: white;
}

.desc {
   text-align: center;
}

.button-section {
    padding-top: 2%;
   text-align: center;
}
.btn-hvr {
   -webkit-transition: 0.54s ease-in;
   -o-transition: 0.54s ease-in;
   transition: 0.54s ease-in;
}
.btn-hvr:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.centre {
   text-align: center;
   background-color: #002b37;
   font-size: 2rem;
   padding: 30%;
   padding-top: 5%;
}

p {
   color: white;
   font-size: 4rem;
}